@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .btn {
        padding: 1rem 2rem; 
    }

    .btn-sm {
        padding: 0.5rem 1.5rem; 
    }

    .btn-lg {
        padding: 1.5rem 2.5rem; 
    }
} */