@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body { scroll-behavior: smooth; }
}

@layer components {
    .btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*  TODO: yg btn-sm dan btn-xl harus disetting juga karena keoverride sama .btn  */

    .btn-md {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 2.75rem;
        min-height: 2.75rem;
    }

    .btn-sm {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .btn-lg {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .label {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}